/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-mar-2016, 2:57:20
    Author     : enric
*/

.error{
    display:none;
    margin-top:5px;
}
.page-header{
    padding:0;
}
.ui-combobox-content{
    border: 1px solid #CCC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    height:34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}  
.ui-combobox-content:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
.form-group select{
    width:97%;
}
.loginbox{
    margin-top:5%;
    color:white;
    padding:5em;
    background-color:#101010;
}
.loginbody{
    
    height:100%;
}
.menuicon{
    width:100%;
    text-align:center;
    font-size:8em;
    padding-top:10%;
    padding-bottom:10%;
}
.menutext{
    width:100%;
    text-align:center;
    font-size:1.75em;
    font-weight:bold;
}
.menuthumb{
    background-color:white;
    color:black;
    transition: color 1s, background-color 1s;
    text-decoration:none;
}
.menuthumb:hover{
    background-color:black;
    color:white;
    cursor:pointer;
    text-decoration: none;
}
.g-recaptcha{
    margin-top:5%;
}
.thumbnail:hover{
    box-shadow:0 0 2em #101010!important;
    border:0.1875em solid#9d9d9d!important;
}